
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:hsl(217,54%, 11%) ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 275px;
    height: 495px;
    background-color:#F24236 ;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 25px 50px 0 #F24236;
    justify-content: space-between;
    /* justify-content: space-between; */


}
.NFT-Container{
    display: flex;
    justify-content: center;

  
}

#NFT{
    width: 300px;
    width: 280px;
    border-radius: 30%;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    
}
.stat{
    display: flex;
    justify-content: space-between;
    width: 96px;
}
h3{
    color: gold;
    cursor: pointer;

    

}
.footer{
    display: flex;
    gap: 10px;
    align-items: center;
    /* justify-content: space-between; */
    border-top: .5px solid white;
    height: 50px
    ;
}
.footer img{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}
span{
    color: white;
}
.content p{
    color: #CCDAD1;
    font-size: 13px;
    
}
.footer p{
    color: burlywood;
   
    
}
#cost{
    color: turquoise
}
#btn{
    margin-top: 30px;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}